<mat-card class="workout-card" *ngFor="let workout of workouts">
  <mat-card-header>
    <mat-card-title>{{workout.name}}</mat-card-title>
  </mat-card-header>
  <mat-chip-list>
    <mat-chip color="accent" *ngFor="let tag of workout.tags">{{tag}}</mat-chip>
  </mat-chip-list>
  <img mat-card-image src="../../assets/images/workout.jpg" alt="Power Lifting">
  <mat-card-content>
    <p>
        {{workout.description}}
    </p>
    <p>
      Routine:
      <div *ngFor="let station of workout.workoutRoutine.workoutStations">
        {{station.exercise.name}}
      </div>
    </p>
    <button mat-fab color="primary" style="float: right">
      <mat-icon>Edit</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
