<!--<mat-card>Simple card</mat-card>-->



<!--
<div class="ui card" *ngFor="let workout of workouts">
  <div class="image">
    <img src="../../assets/images/workout.jpg">
  </div>
  <div class="content">
    <div class="header">{{workout.name}}</div>
    <a (click)="showWorkoutDetail()"><i class="top floated ellipsis horizontal icon"></i></a>
    <div class="description">
      {{workout.description}}
    </div>
  </div>
  <div class="extra content">
    <div class="ui orange label" *ngFor="let tag of workout.tags">
      {{tag}}
    </div>
  </div>
</div>
<div class="ui modal">
  <app-gb-workout-detail></app-gb-workout-detail>
</div>
-->