<p *ngIf="!workouts"><em>Loading...</em></p>
<div class="ui card" *ngFor="let workout of workouts">
  <div class="image">
    <img src="../../assets/images/workout.jpg">
  </div>
  <div class="content">
    <div class="header">{{workout.name}}</div>
    <!--<a [routerLink]="['/workout-detail', workout]"><i class="right floated ellipsis horizontal icon"></i></a>
    <div class="meta">
        Rating: <div class="ui heart rating" data-rating="2" data-max-rating="3"></div>
    </div>-->
    <a (click)="showWorkoutDetail()"><i class="right floated ellipsis horizontal icon"></i></a>
    <div class="description">
      {{workout.description}}
    </div>
  </div>
  <div class="extra content">
    <div class="ui orange label" *ngFor="let tag of workout.tags">
      {{tag}}
    </div>
  </div>
</div>
<div class="ui modal">
  <app-gb-workout-detail></app-gb-workout-detail>
</div>